.navButtons {
  gap: 60px;
  height: 50px;
  z-index: 999;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.navButtons button {
  width: 100px;
}

