@import '../struct/colors.css';

.about-page {
  background-color: black;
}

*::-webkit-scrollbar {
  display: none;
}

.holder {
  width: 100%;
  height: 40vh;
  display: flex;
  overflow: visible;
  align-items: center;
  padding-bottom: 20vh;
  background: transparent; 
  justify-content: center;
  transition: all 0.4s ease-out;
}

.holder:hover {
  height: 8vh;
  transform: translateY(10%);
  transition: all 0.8s ease-out;
}

.profile {
  top: 0;
  left: 50%;
  width: 20%; 
  display: flex;
  z-index: 1000;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(22%);
  transition: all 0.3s ease-out;
  background-color: var(--burgundy);
  height: clamp(150px, 40vh, 300px);
  border-radius: 0px 0px 200px 200px;
}

.profile img {
  opacity: 1;
  width: 280px;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s ease-out;
}

.holder:hover .profile {
  height: 8vh;
  width: 45%;
  left: 27.5%;
  border-radius: 15px;
  background-color: transparent;
  transform: translateY(70%);
  border: 3px solid var(--burgundy);
}

.holder:hover .profile img {
  opacity: 0;
}

#words {
  width: 30%;
  height: 50%;
  margin-left: 6%;
  color: var(--sage);
  font-family: "Fascinate";
  transform: translateY(120%);
}

#full {
  width: 50%;
  height: 80%;
  font-size: 28px;
  margin-left: 39%;
  font-family: "Caveat";
  color: var(--mustard);
  transform: translateY(-15%);
}

#nav-list {
  top: 50%;
  right: 0px;
  z-index: 999;
  width: 126px;
  font-size: 12px;
  position: fixed;
  font-family:"Republica";
  transform: translateY(-50%);
}

#nav-list .list-group-item {
  color: white;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(90, 58, 58, 0);
}

#nav-list .list-group-item:hover {
  color: var(--sage);
}

#nav-list .list-group-item.active {
  color: var(--mustard);
  font-family:"Republica";
}

.section {
  margin-top: 10vh; 
  min-height: 40vh;
}

.section h1 {
  width: 100%;
  font-size: 50px;
  text-align: center;
  border-radius: 8px;
  color: var(--mustard);
  font-family:"Republica";
}

.section p {
  width: 90%;
  justify-content: center;
  color: white;
  line-height: 1.6;
}

.timeline {
  position: relative;
  height: 115vh;
  width: 100%;
  background: #121212;
}

.timeline::before {
  content: '';
  top: 0;
  left: 50%;
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: white;
}

.tl-itm {
  position: absolute;
  border: 3px solid;
  width: 35vw;
  height: 30vh;
  border-radius: 12px;
  background-color: transparent;
  color: white;
}
.tl-itm h3 {
  font-family: "Caveat";
  margin-top: 3%;
  margin-left: 2%;
}

.tl-itm h4 {
  margin-left: 2%;
  font-family: "Caveat";
}

.tl-itm ul li {
  font-size: 20px;
  font-family: "Caveat";
}

/* Vertical positions */
.tl-itm:nth-child(1) { color:var(--teal);top: 5vh; left: 10%; border-color: var(--teal); }
.tl-itm:nth-child(2) { color:var(--sage);top: 30vh; left: 55%; border-color: var(--sage); }
.tl-itm:nth-child(3) { color:var(--teal);top: 55vh; left: 10%; border-color: var(--teal); }
.tl-itm:nth-child(4) { color:var(--sage);top: 80vh; left: 55%; border-color: var(--sage); }

.project {
  position: relative;
  width: 15vw;
  height: 35vh;
  margin-left: 10%;
  border-radius: 15px;
  background-color: var(--teal);
}

.project p {
  top: 5%;
  opacity: 0;
  margin-left: 5%;
  position: absolute;
  text-align: center;
}

.project h4 {
  top: 5%;
  margin-left: 17%;
  position: absolute;
  text-align: center;
}

.project img {
  top: 10px;
  width: 100%;
  height: 85%;
  position: absolute;
  border-radius:15px;
  transform: translateY(15%);
}

.project:hover img{
  z-index: 1;
  height: 101%;
  transform: translateY(-5%);
  filter: blur(4px) brightness(0.2);
}

.project:hover p { 
  opacity: 1;
  z-index: 2;
}

.project:hover h4 { 
  opacity: 0;
}

.footer {
  height: 70vh;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--teal);
  background: linear-gradient(to bottom, black, var(--teal));
}

.footer p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.socials {
  display: flex;
}

.socials h1 {
  color: white;
}

.socials a img {
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.socials a:hover img {
  transform: scale(1.2);
  filter: brightness(1.2);
}

#github {
  width: 40px;
  height: 40px;
}

#linkedin {
  width: 60px;
  height: 60px;
  transform: translateY(-18%);
}

#gmail {
  width: 60px;
  height: 60px;
  transform: translateY(-18%);
}

