@import '../struct/colors.css';
@import '../fonts/fonts.css';

.art-page {
  position: relative;
  background-color: black;
}

.art-page #nav-list .list-group-item.active {
  color: var(--teal);
  font-family:"Republica";
}

.topbar {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 12vh;
  position: sticky;
  padding-left: 55px;
  background: rgba(0, 0, 0, 0.7);
}

.topbar img{
  width: 100px;
  height: 100px;
  margin-left: 30%;
}

.topbar a {
  font-size: 14px;
  margin-left: 5px;
  color: var(--teal);
  text-decoration: none;
  font-family: "Republica";
}

.topbar a:hover {
  color: var(--mustard)
}

.nav-items {
	 gap: 20px;
	 color: white;
	 display: flex;
   font-size: 1rem;
	 margin-left: 20%;
	 font-family: "Republica";
   transition: font-size 0.3s ease;
}

.nav-items a.active {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

/* 
 * sourced from: https://codepen.io/jeffglenn/pen/KNYoKa */

.art-page .section {
  width: 100%;
  height: 88vh;
  margin-top: 1vh;
  background: rgba(0, 77, 77, 0.05);
}

.art-page .section h1 {
  width: 30%;
  color: var(--sage);
  font-family: "fascinate";
  transform: translateY(400%) translateX(200%);

}

.vert {
  width: 30vw;
  height: 80vh;
  transform: translateY(-5%) translateX(70%);
}

.hor {
  width: 100vh;
  height: 70vh;
  margin-left: 100px;
}

#greet {
  height: 10vh;
  font-size: 32px;
  padding-left: 18%;
  color: var(--sage);
  font-family: "Fascinate";
  transform: translateY(25%);
}
