.blog-page {
  background-color: black;
}

.blog-page .carousel .boxVertical{
  top: 35%;
  width: 10%;
  color: red;
  height: 30%;
  cursor: pointer;
  border-radius: 0px;
  background-color: white;
  transition: all 0.3s ease;
}

/*
 * click and increase size
 * translate to the right
 */
.blog-page .container2 .boxVertical.selected{
  top: 25%;
  width: 10%;
  height: 50%;
  transform: translateX(300px);
}

.blog-page .split-right {
  width: 60%;
  background-color:red;
}

.carousel {
  top: 0;
  left: 0;
  width: 40%;
  position: fixed;
  margin-top: 14%;
  height: 20% auto;
  background-color: pink;
}

button{
    border: none;
    color: white;
    cursor: pointer;
    background: none;
    transition: all .3s ease-in-out;
}

.carousel-view {
  gap: 10px;
  width: 100%;
  height: 321px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.25s ease-in;
}

.carousel-view .item-list {
  gap: 16px;
  width: 70%;
  display: flex;
  padding: 40px 0;
  align-items: flex-end;
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  justify-content: center;
  -ms-overflow-style: none; /* IE and Edge */
  transition: all 0.25s ease-in;
  scroll-snap-type: x mandatory;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn {
  cursor: pointer;
  background = none;
}

.next-btn {
  cursor: pointer;
}

.item {
  z-index: 1;
  display: flex;
  height: 150px;
  flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  background-color: deeppink;
  transition: transform 0.3s ease;
  transform-origin: bottom center;
  width: clamp(100px, 25%, 200px);
}

.item.selected{
  z-index: 2;
  margin: 0 40px;
  transform: scale(1.5);
  background-color: darkred;
}
