@import '../struct/colors.css';
@import '../fonts/fonts.css';


.projects-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.projects-page .carousel{
  width: 100%;
  height: 40%;
  margin-top: 0%;
}

.projects-page .button {
  width: 100px;
  height: 100px;
  background-color: white;
}

.projects-page .carousel-view { 
  width: 100%;
  height: 100%;
  background-color: red;
}

.projects-page .carousel-view .item-list{
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: blue;
}

.projects-page .item{
  height: 80%;
  width: clamp(200px, 60%, 300px);
}

.content {
  width: 100%;
  height: 100%;
  color: white;
  margin-top: 12%;
}
