.projects-page { 
  background-color: black;
}

.backdrop {
  width: 100%;
  height: 45vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#backdrop {
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: center top;
}

.backdrop::before {
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
}

.projects-page .backdrop-nav {
  gap: 20px;
  top: 20px;
  left: 50%;
  z-index: 2;
  display: flex;
  position: absolute;
  transform: translateX(-310%);
}

.projects-page .backdrop a {
  font-size: 14px;
  color: var(--sage);
  text-decoration: none;
  font-family: "Republica";
  transition: opacity 0.3s ease;
}

.projects-page .backdrop a:hover {
  color: var(--mustard);
}

.backdrop-content {
  z-index: 2;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.backdrop-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translateY(-135%);
}

.projects-page .backdrop h1 {
  margin: 0;
  font-size: 2.5rem;
  color: var(--sage);
  font-family: "Fascinate";
  }

.projects-page .backdrop h4 {
  font-size: 1.5rem;
  margin: 10px 0 0 0;
  color: var(--sage);
  font-family: "Republica";
}

.projects-list {
  color: var(--sage);
  transform: translateX(0%);
}

.projects-list h1 {
  text-align: center;
  font-family: "Fascinate";
}
