/* STRUCTURES */
@import '../css/struct/layout.css';
@import '../css/fonts/text.css';

/* PAGES */
@import '../css/pages/blog.css';
@import '../css/pages/about.css';
@import '../css/pages/index.css';
@import '../css/pages/art.css';
@import '../css/pages/projects.css';
