{% extends "layout.html" %}

{% block main %}
<!-- 
  TODO: dsiplay when quotes have been requested
  TODO: allow the user to look the stocks current price
  TODO: input stocks symbol (name = symbol)
  TODO: submit input via POST to /quote
  TODO: 
-->
<form action="/quote" method="POST">
  <p>you have selected {{ symbol }} </p>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Symbol</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ stock.name }} </td>  
        <td> {{ stock.price | usd}} </td>
        <td> {{ stock.symbol }} </td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}

