@font-face {
  font-family: "Republica";
  src: url("RepublicaMinor.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url("./CaveatBrush-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bitcount";
  src: url("./BitcountGridSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url("./Lobster-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fascinate";
  src: url("./FascinateInline-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
